:root {
  --text-color: #000000;
  --link-color: #00e1ff;
  --background-color: #ffffff;
  --accent-color: #00e1ff;
  --border-color: #00e1ff;
  --hover-border-color: #00e1ff; 
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: auto;
  background-color: transparent;
}

.devops-icon {
  display: flex;
  align-items: center;
}

.dev-text, .ops-text {
  font-size: 32px; 
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.icon {
  width: 100px; 
  height: auto;
}

body.dark-mode .icon {
  filter: drop-shadow(0 0 5px var(--link-color)) drop-shadow(0 0 5px var(--link-color)) drop-shadow(0 0 50px var(--link-color));
}




nav .left {
  display: flex;
  align-items: center;
}

nav .center {
  text-align: center;
  margin: 10px 0;
}

nav .center .name {
  font-family: 'Playfair Display', serif;
  color: var(--text-color); 
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 0 5px var(--link-color), 0 0 10px var(--link-color), 0 0 15px var(--link-color); 
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

body.dark-mode nav .center .name {
  color: var(--link-color);
  text-shadow: 0 0 10px var(--link-color);
}

nav .right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav .right a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, transform 0.3s ease;
}

nav .right a:hover {
  transform: translateY(-5px);
}

nav .right a i {
  margin-right: 5px;
  font-size: 20px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}



.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;

}

.hero-section .text {
  flex: 5;
  text-align: center;
  margin-left: 20px; 
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text p {
  font-size: 18px;
  line-height: 1.6;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid var(--border-color);
}





.hero-section .text .links a:hover {
  background-color: var(--link-color);
  color: black; 
  box-shadow: 0 0 15px var(--link-color), 0 0 30px var(--link-color); 
  transform: translateY(-5px);
}

.hero-section .text .links a:active {
  background-color: #000000;
  color: white;
}

.hero-section .text .links a:focus {
  background-color: #000000;
  color: white;
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-right: 0px; 
  position: relative;
}

.hero-section .headshot img {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 0 25px var(--link-color); 
  border: 5px solid var(--border-color);
}

body.dark-mode .hero-section .headshot img {
  box-shadow: 0 0 5px var(--link-color), 0 0 15px var(--link-color); 
}

body:not(.dark-mode) .hero-section .headshot img {
  box-shadow: 0 0 0 5px #000000; 
}

.hero-section .headshot img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px var(--link-color); 
}


@media (min-width: 768px) {
  nav {
    flex-direction: row; 
    justify-content: space-between;
    padding: 0 20px;
  }
  

  .hero-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-section .text {
    text-align: left;
    margin-left: 40px; 
  }

  .hero-section .headshot {
    justify-content: flex-end;
    margin-right: 40px;
  }
}


.skills-section {
  padding: 0 20px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid black; 
  background-color: var(--link-color); 
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0); 
}

body.dark-mode .skills-section .cells .cell {
  border: 1px solid var(--border-color); 
  box-shadow: 0 0 2px var(--link-color), 0 0 4px var(--link-color); 
}

.skills-section .cells .cell:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 3px var(--link-color), 0 0 6px var(--link-color); 
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
  color: black;
}


@media (max-width: 767px) {
  .skills-section .cells .cell {
    width: 150px; 
    padding: 10px;
  }

  .skills-section h2 {
    font-size: 28px; 
  }
}


.languages-section {
  padding: 0 20px;
  margin-bottom: 100px;
}

.languages-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.language-wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language-slice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--background-color);
  border: 3px solid #000000;
  border-radius: 50%;
  color: #000000;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 0 5px var(--border-color);
  transition: transform 0.3s ease;
}

.language-slice:hover {
  transform: scale(1.1);
}


.timeline-grid {
  padding: 20px;
  margin-bottom: 80px; 
}

.timeline-grid h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.timeline-grid-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline-grid-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #000000;
  z-index: -1;
}

.timeline-grid-item {
  background-color: #00e1ff;
  border: none;
  box-shadow: 0 0 0 5px var(--border-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  transition: transform 0.3s ease;
}

.timeline-grid-item.left {
  align-self: flex-start;
  margin-left: 0; 
}

.timeline-grid-item.left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100%); 
  width: 20px; 
  height: 2px;
  background-color: #000000;
}


.timeline-grid-item.right {
  align-self: flex-end; 
  margin-right: -3px; 
}


.timeline-grid-item.right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(100%); 
  width: 20px; 
  height: 2px;
  background-color: #000000;
}

.timeline-grid-item:hover {
  transform: translateY(-5px);
}

.timeline-grid-item h3, .timeline-grid-item h4, .timeline-grid-item p {
  color: black;
}


@media (min-width: 768px) {
  .timeline-grid-item {
    width: calc(50% - 20px);
  }
}

.certificates-section {
  padding: 0 20px;
  margin-top: 80px; 
  margin-bottom: 100px;
}

.certificates-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.certificate-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.certificate-item {
  position: relative;
  width: 250px;
  height: auto; 
  overflow: hidden; 
  border-radius: 10px;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.certificate-item:hover {
  transform: scale(1.05); 
  border-color: var(--hover-border-color);
}

.certificate-image {
  width: 100%;
  height: auto; 
  object-fit: contain; 
  border-radius: 10px;
  border: none;
  box-shadow: none; 
  transition: filter 0.3s ease; 
}

.certificate-item:hover .certificate-image {
  filter: brightness(50%); 
}

.certificate-link {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: black; 
  font-size: 18px;
  text-decoration: none;
  background-color: var(--link-color);
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0; 
}

.certificate-item:hover .certificate-link {
  opacity: 1; 
}


@media (max-width: 767px) {
  .certificate-list {
    flex-direction: column; 
    align-items: center; 
  }

  .certificate-item {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .certificate-image {
    width: 100%; 
    height: auto; 

    
  }
}

.certificate-item:hover .certificate-image {
  filter: brightness(50%); 
}

.certificate-link {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: black; 
  font-size: 18px;
  text-decoration: none;
  background-color: var(--link-color);
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.certificate-item:hover .certificate-link {
  opacity: 1; 
}



.project-button {
 display: none;
 position: absolute;
 bottom: 0;
 width: 100%;
  background-color: var(--link-color);
  color: #000000; 
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.projects-section .project-item:hover .project-button {
  opacity: 1;
}



.projects-section {
  padding: 0 20px;
  margin-bottom: 100px;
}

.projects-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.projects-section .project-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative; 
}

.projects-section .project-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #00e1ff;
  padding: 20px;
  border-radius: 5px;
  border: none; /* Black border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative; 
  z-index: 0; 
}


body.dark-mode .projects-section .project-item:hover {
  transform: translateY(-10px);
  z-index: 1; 
}


body:not(.dark-mode) .projects-section .project-item:hover {
  transform: translateY(-10px); 
  z-index: 1; 
}

.projects-section .project-item img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.projects-section .project-item img:hover {
  transform: scale(1.05);
}

.projects-section .project-info {
  position: relative;
  flex: 1;
}

.projects-section .project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.projects-section .project-info p {
  font-size: 16px;
  overflow-wrap: break-word;
  color: black;
}






@media (max-width: 767px) {
  .projects-section .project-item {
    flex-direction: column;
  }
}


.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--link-color);
  color: black;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  background-color: var(--hover-border-color);
  transform: translateY(-5px);
}


body.dark-mode {
  --text-color: #ffffff;
  --background-color: #000000;
  --link-color: #00e1ff;
  --accent-color: #00e1ff;
  --border-color: #00e1ff;
  --hover-border-color: #00e1ff; 
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode .language-slice span {
  color: white;
}

body.dark-mode .timeline-grid-container::before,
body.dark-mode .timeline-grid-item::after {
  background-color: var(--border-color);
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

body.dark-mode {
  --text-color: #ffffff;
  --background-color: #000000;
  --link-color: #00e1ff;
  --accent-color: #00e1ff;
  --border-color: #00e1ff;
  --hover-border-color: #00e1ff; 
  background-color: var(--background-color);
  background-image: url('images/Background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}